{%- comment -%}
  Header is provided by default.html layout via header.html include.
{%- endcomment -%}

<img
  src="/assets/img/2025/bg-2025-recap-tall.jpg"
  alt="A collage of Chicago centric stickers and photos."
  class="w-full md:-mt-[20%]"
/>

<div class="pt-8 pb-0">
  <div class="flex flex-col items-center gap-8 pt-4">
    <section class="self-center text-center">
      <h1 class="mb-4 text-4xl font-extrabold leading-tight lg:text-5xl">
        {{ site.conf_year }} DjangoCon US Recap
      </h1>

      <p class="text-2xl lg:text-3xl">
        <strong>September 8-12, 2025</strong>
      </p>
    </section>

    <div class="flex flex-col gap-4 my-2 md:flex-row">
      <a href="{{ site.youtube_link }}" class="button button-lg bg-yellow">
        Watch Talks on YouTube
      </a>
      <a href="{{ site.photos_link }}" class="button button-lg bg-yellow">
        Conference Photos
      </a>
    </div>
  </div>
</div>

<div class="block-container">
  <div class="wrapper">
    <div class="max-w-3xl gap-4 mx-auto :grid-cols-1">
      <h2 class="mb-8 subheading">
        DjangoCon US {{ site.conf_year }} was hosted in Chicago and
        brought together over 300 attendees from all over the world!
      </h2>

      <section class="prose prose-lg">
        Wow, what a ride! With three full days of Django talks,
        and two days of sprints, over 400 of us came together both online and
        in-person to learn, share and grow. DjangoCon US continues to be a
        hallmark event for the Django community, and strives to bring together
        the people behind the projects we all know and love. We had a great time
        learning from each other, sharing our experiences, and making new
        friends. We thank our fantastic sponsors, speakers, volunteers, and
        attendees for making this event possible.
      </section>
    </div>
  </div>
</div>

<div class="bg-gray-100 block-container">
  <div class="wrapper">
    <section class="mb-8 text-center">
      <h2 class="mb-4 text-2xl font-bold font-heading lg:text-5xl">
        Awesome Talks and Tutorials
      </h2>
      <p class="mb-6 text-lg lg:text-xl">
        Speakers shared over 50 talks & tutorials this year. Here are some crowd
        favorites!
      </p>
    </section>

    <ul class="grid gap-8 lg:grid-cols-3 auto-rows-fr">
      {%- assign color_classes = "border-t-green,border-t-light-blue,border-t-purple,border-t-orange,border-t-blue,border-t-yellow" | split: "," %} 
      {%- for session_slug in featured_session_slugs %}
        {%- assign session = collections.talks | find:session_slug %}
        {%- assign color_class = color_classes[forloop.index0 | modulo: color_classes.size] %}
        {%- include "session-card.html", session:session.data, color_class: color_class %}
      {%- endfor %}
    </ul>

    <section class="my-8 text-center">
      <a href="{{ site.youtube_link }}" class="button bg-yellow">Watch Talks on YouTube</a>
      <a href="/schedule" class="button bg-yellow">See list of all talks</a>
    </section>
  </div>
</div>

<!-- Presenters -->
<div class="block-container">
  <div class="wrapper">
    <h2 class="mb-8 text-3xl font-bold font-heading lg:text-5xl">
      Our Presenters are Amazing
    </h2>
    {% include "presenters-grid.html" %}
  </div>
</div>

<!-- Photos -->
<div class="block-container">
  <div class="wrapper">
    <div class="grid lg:grid-cols-3 auto-rows-fr">
      <section class="flex flex-col justify-center pr-8">
        <h2 class="mb-4 font-bold md:text-2xl font-heading lg:text-3xl">
          Picture Perfect
        </h2>
        <p class="mb-0 md:text-lg xl:text-xl">
          We captured so many Kodak moments over the week! Thanks to
          <a
            href="http://bartpawlik.com/"
            rel="noreferrer noopener"
            target="_blank"
            class="link"
          >
            Bartek Pawlik<span class="sr-only"> (opens in new tab)</span>
          </a>
          for being our official conference photographer and saving these
          memories for us.
        </p>
      </section>

      {%- for photo in featured_photos %}
      <figure class="relative lg:col-span-1">
        <img
          src="{{ photo.src }}"
          alt="{{ photo.alt }}"
          class="object-cover w-full h-full"
          loading="lazy"
        />
      </figure>
      {%- endfor %}
    </div>

    <div class="mt-8 text-center">
      <a href="{{ site.photos_link }}" target="_blank" class="button button-lg">View Flickr album</a>
    </div>
  </div>
</div>

<!-- Organizers -->
<div class="bg-gray-100 block-container">
  <div class="wrapper">
    <h2 class="mb-4 text-3xl font-bold font-heading lg:text-5xl">
      DjangoCon US {{ site.conf_year }} was possible through lots of <span aria-hidden="true">❤️</span
      ><span class="sr-only">love</span>
    </h2>
    <p class="mb-6 text-xl lg:text-2xl">
      Our organizers put hundreds of hours of heart and soul into this
      conference. We couldn't do it without each and every one of you!
    </p>
    {% include "organizers-grid.html" %}
  </div>
</div>

<!-- Sponsors -->
<div class="block-container">
  <div class="wrapper">
    <h2 class="mb-10 text-2xl font-bold text-center font-heading lg:text-5xl">
      Our Sponsors
    </h2>

    {% include "sponsor-listing.html" %}
  </div>
</div>
