<section class="bg-light-blue-50">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex  lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class=" font-extrabold  text-blue-950 text-5xl/[1.5]">
        DjangoCon US 2025
        <strong class="font-extrabold text-blue-700 text-2xl uppercase tracking-wide block">Chicago, Illinois</strong>
      </h1>

      <p class="mt-8 sm:text-2xl/relaxed">
        <a href="https://www.ihg.com/voco/hotels/us/en/chicago/chiwp/hoteldetail" target="_blank"
          class="hover:text-blue block link">voco Chicago Downtown</a>
        <strong>September 8-12th, 2025</strong>
      </p>

      <div class="space-y-8">
        <section>
          <h2 class="mb-4 text-2xl font-bold font-heading lg:text-4xl">Latest News</h2>

          <ol class="divide-y" reversed>
            {%- for post in collections.posts reversed -%}
              {% unless post.hidden or post.category == 'talk' or post.category == 'tutorial' %}
                {% if forloop.index0 < 3 %}
                  <li>
                    <article class="py-4">
                      <time
                        class="mb-2 text-sm tracking-wide text-gray-600 uppercase"
                        datetime="{{ post.date }}">{{ post.data.published_datetime | formatDateTime: "MMMM d, yyyy" }}</time>
                      <h3 class="text-xl font-semibold font-heading lg:text-2xl"><a href="{{ post.url }}" class="reverse-link">{{ post.data.title | escape }}</a></h3>
                    </article>
                  </li>
                {% endif %}
              {% endunless %}
            {%- endfor -%}
          </ol>

          <a class="button" href="/news/">Read more news</a>
        </section>

      <p class="flex flex-wrap justify-center my-6 gap-4">
        <a href="{{ site.mailing_list }}" class="button ">Mailing list for updates</a>
        <a href="{{ site.social.mastodon }}" class="button">Follow us on Mastodon</a>
        <a href="{{ site.cfp_application }}" class="button">Submit a Talk Proposal</a>
        <a href="{{ site.ticket_link }}" class="button bg-light-blue">Buy Tickets</a>
      </p>

      <p class="mt-12 text-lg">
        Stay tuned for lots more news coming soon. We're working hard to open our opportunity grants, etc.
      </p>
      <p class="mt-8">
        <a href="mailto:sponsors@djangocon.us">
          Interested in sponsorship? Get in touch!
        </a>
      </p>
    </div>
  </div>
</section>
