<section class="bg-light-blue-50">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex  lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class=" font-extrabold  text-blue-950 text-5xl/[1.5]">
        DjangoCon US 2025
        <strong class="font-extrabold text-blue-700 text-2xl uppercase tracking-wide block">Chicago, Illinois</strong>
      </h1>

      <p class="mt-8 sm:text-2xl/relaxed">
        <a href="https://www.ihg.com/voco/hotels/us/en/chicago/chiwp/hoteldetail" target="_blank"
          class="hover:text-blue block link">voco Chicago Downtown</a>
        <strong>September 8-12th, 2025</strong>
      </p>

      <p class="flex flex-wrap justify-center my-6 gap-4">
        <a href="{{ site.mailing_list }}" class="button ">Mailing list for updates</a>
        <a href="{{ site.social.mastodon }}" class="button">Follow us on Mastodon</a>
      </p>

      <p class="mt-12 text-lg">
        Stay tuned for lots more news coming soon. We're working hard to open our speaker CFPs, opportunity grants, etc.
      </p>

      <p class="mt-8">
        <a href="mailto:sponsors@djangocon.us">
          Interested in sponsorship? Get in touch!
        </a>
      </p>
    </div>
  </div>
</section>