.button {
  @apply relative inline-flex items-center justify-center px-5 py-2;
  @apply rounded-full bg-orange border-b-2 border-orange-700 hover:bg-orange-700;
  @apply font-semibold text-base !no-underline;


  /* border-color: var(--theme-text-color); */

  /* THEME-X */
  /* @apply border-b-4 border-r-4; */

  /* background:  theme('colors.orange.DEFAULT')); */
  /* background-size: 100% 200%;
  background-position: top; */
  transition: all .125s ease-out;
}


.button:hover {
  background-position: bottom;
}

.button-group {
  @apply flex flex-wrap flex-col sm:flex-row items-center gap-4;
}

.button.bg-teal,
.button.bg-teal-dark {
  @apply text-white;
}