---
layout: default

title: Welcome to DjangoCon US 2025

## Archived version of homepage

# Featured talks (talks only). Max 6.
featured_session_slugs:
  - 11-40-t0-why-governance-in-open-source-is-important
  - 09-15-t0-keynote-to-be-announced-tuesday
  - 10-50-t0-django-for-ai-deploying-machine-learning-models-with-django
  - 14-40-t0-how-to-enjoy-debugging-in-production
  - 13-50-t1-building-a-wagtail-cms-experience-that-editors-love
  - 14-40-t0-hidden-dangers-of-ai-in-developer-workflows-navigating-security-risks-with-human-insight


# Any number of featured photos. No maxiumum.
# Desktop this looks like a 3x3 grid, with 2 on the first row.
# Best to use (3*n + 2) photos.
featured_photos:
  - src: /assets/img/2025/54857916879_3436d08302_c.jpg
    alt: Attendees laughing and socializing at a restaurant during DjangoCon US 2025
  - src: /assets/img/2025/54857911792_867c903977_c.jpg
    alt: Group of attendees posing outside Mr. Beef restaurant in Chicago
  - src: /assets/img/2025/54858756306_2a4439a0bc_c.jpg
    alt: DjangoCon US 2025 swag including tote bag, stickers, t-shirt, and lanyard
  - src: /assets/img/2025/54858756536_fba37eb0eb_c.jpg
    alt: Attendees collaborating on laptops in the hotel lobby during sprints
  - src: /assets/img/2025/54856773462_0b8463f472_c.jpg
    alt: Attendee smiling while working on a laptop in the hotel lobby
  - src: /assets/img/2025/54859064120_cfa23698c3_c.jpg
    alt: Attendees having a discussion during sprints
  - src: /assets/img/2025/54859063285_433d813a63_c.jpg
    alt: DjangoCon US 2025 tote bag on Chicago beach with sandals
  - src: /assets/img/2025/54859025228_c38408a2dd_c.jpg
    alt: Group of attendees jumping in front of Cloud Gate (The Bean) in Chicago  

---


{% block nav %}{% endblock %}
{% if site.phase == "landing" %}
  {% comment %}
    The conference site is not ready
  {% endcomment %}

  {% include 'home/landing-conf-home.html' %}
{% elsif site.phase == "archived" %}
  {% comment %}
    The conference is over
  {% endcomment %}

  {% include 'home/archived-conf-home.html' %}
{% else %}
  {% comment %}
    The conference site is fully live
  {% endcomment %}

  {% include 'home/active-conf-home.html' %}
{% endif %}